<div class="js-nav-section bg--img" style="background-image: url({{site.img}}/content/competition.jpg);">
  <div class="wp" id="competition"></div>
  <div class="container container--xxl vpad--xxxxl text--center text--white">
    <h2 class="title title--xxl text--bolder text--upper">Win your very own travel photography adventure</h2>
    <hr class="hr--center">
    <div class="container container--xl">
      <p class="text--xxl text--normal">Enter below to be in with the chance of winning your very own Panasonic LUMIX TZ100 plus £500 Secret Escapes credit so you can begin your photography adventure… Where will you go?</p>
      <div class="space--md"></div>
      <a href="{{site.baseurl}}/competition" class="btn btn--lg btn--partner">Enter now</a>
    </div>
  </div>
</div>
