---
layout: default
id: overview
nav: true
nav-order: 1
title: Overview

banner:
  title: >
    Small size, <br />big adventure
  title-sub: "The Panasonic LUMIX TZ100"
  intro: >
    <p class="text--xl text--normal">Discover your new travel partner – the Panasonic LUMIX TZ100. Its compact size belies the quality and sharpness of the images it captures, with a Leica lens and 10x zoom offering outstanding photos in a small, travel-friendly package. Unpick its features across three types of destination – city, beach, country – and find your picture-perfect getaway here. Your adventure is just beginning...</p>

page-nav:
  - id: greece
    title: Beach
  - id: italy
    title: Country
  - id: spain
    title: City
  - id: competition
    title: Competition



sections:

  - id: greece
    title-sup: Greece
    title: Beach
    intro: >
      <p class="text--xl">Summer is well underway, so you’d be forgiven for dreaming of superlative beach escapes. Sink-back into powder-white sands and slink into turquoise waters with a getaway to the island idylls of the Greece. Roughly-hewn cliffs shelter isolated bays with startlingly clear waters – hop from the spellbinding volcanic black and red beaches of Santorini, or shelter under the white Cycladic homesteads that line the shores of Mykonos. Tranquility awaits.</p>
    lumix:
      title: Panasonic LUMIX TZ100 Features
      link:
      content: >
        Treasure glorious sea views forever with high quality photos from the Panasonic LUMIX TZ100. Whether you’re looking over crystalline waters or catching the action out on the waves, the TZ100 captures all the details with 4K video and 4K photo. Capture a surfer cresting the waves, and rewind your video to export 4K photos from what you’ve captured. No matter how fast the action, you’ll never miss the moment.
      features:
        - id: burst-photo
        - id: video

  - id: italy
    title-sup: Italy
    title: Country
    intro: >
      <p class="text--xl">Rolling fields, hidden villages and farm-to-table dining awaits any traveller exploring the countryside. In Italy, nowhere is this more exceptional. Walled medieval villages lie forgotten amongst the hills, hiding impeccable dining and remarkable character. Vineyards carpet the interior and stock bars in every town. From the soft knolls and golden light of Tuscany to the alpine heights and shimmering lakes of Lombardy, Italy offers some of the most beautiful countryside in Europe. </p>
    lumix:
      title: Panasonic LUMIX TZ100 Features
      link:
      content: >
        A vast, beguiling landscape unfolds in-front of you. You snap your wide-angle shot, but a distant detail catches your eye. The camera’s powerful 10x zoom is more than capable of framing that far-off focal point perfectly. As you explore the countryside under the bright Italian sun, don’t worry about screen glare – the TZ100’s live viewfinder engages the minute you lift your camera to your eye.
      features:
        - id: zoom
        - id: live-view

  - id: spain
    title-sup: Spain
    title: City
    intro: >
      <p class="text--xl">Bars spill lively locals onto cobbled streets, streets which run narrow between art nouveau townhouses and sleek, futurist blocks. People hustle and bustle past cafes, boutiques and galleries. Spain’s cities unfold like a picture book of enthralling sights – from the Modernist majesty of Gaudi’s Sagrada Familia in Barcelona to the refined Moorish marvels of Seville, your travels offer unmissable moments that long to be captured.</p>
    lumix:
      title: Panasonic LUMIX TZ100 Features
      link:
      content: >
        The Panasonic LUMIX TZ100 is your go-to city snapper. For budding street photographers its sleek, inconspicuous design makes capturing those serendipitous moments. Don’t worry about missing that decisive shot – the TZ100 features post-focus, so you can change the focus of your image after you’ve taken your shot. It’s high ISO capability and powerful 20-Megapixel 1-inch sensor means you can shoot day or night, perfect for those late-night shots on the city streets.
      features:
        - id: day-night
        - id: post-focus


---





{% if page.intro %}
<div class="bg--grey-darkest text--white">
  <div class="wp" id="start"></div>
  <div class="container container--xxl vpad--xxl text--center">
    {{page.intro}}
  </div>
</div>
{% endif %}




<div class="bg--grey-lightest vpad--xxl">
{% for section in page.sections %}
  <div class="section">
    <div class="wp" id="{{section.id}}"></div>

    <div class="container vpad--xl">

      <!-- SECTION TITLE -->
      <div class="section__title text--center">
        <span class="title title--xl title--display">{{section.title-sup}}</span>
        <h2 class="section__title-title title title--xxxl text--bolder text--upper">{{section.title}}</h2>
      </div>

      <!-- SECTION INTRO -->
      <div class="section__intro row row--valign-center">
        <div class="col col--6">
          <div class="bg-img bg-img--16-9 bg-img--xxl-21-9" style="background-image: url({{site.img}}/content/{{section.id}}/01.jpg);"></div>
          <div class="space--lg"></div>
          {{section.intro}}
        </div>
        <div class="col col--6 hide--lg">
          <div class="bg-img bg-img--3-4 bg-img--xxl-4-3" style="background-image: url({{site.img}}/content/{{section.id}}/02.jpg);"></div>
        </div>
      </div>
      <div class="space--xxl"></div>

      <!-- LUMIX SECTION -->
      <div class="section__features container">
        <div class="row row--valign-center">

          <div class="col col--xxl-4">
            <div class="section__features-title">
              <h3 class="title title--xs text--bold">{{section.lumix.title}}</h3>
            </div>
            <div>
              <p class="text--sm">{{section.lumix.content}}</p>
              <div class="space--sm"></div>
              <a href="{{section.lumix.link}}" id="track-btn-features-{{section.id}}" class="btn btn--blue btn--sm">Shop the TZ100</a>
            </div>
          </div>

          <div class="col col--xxl-8">
            <div class="row row--md-6-6">
              {% for featureId in section.lumix.features %}
                {% assign feature = site.data.features | where:'id', featureId.id %}
                {% for feature in feature %}

                <div class="col">
                  <div class="feature">
                    <div class="feature__image bg-img bg-img--4-3 bg-img--xxl-1-1 bg-img--xxxl-4-3" style="background-image: url({{site.img}}/content/features/{{feature.id}}.jpg);"></div>
                    <div class="feature__text">
                      <h4 class="title title--xxs title--display">{{feature.title}}</h4>
                    </div>
                  </div>
                </div>
                {% endfor %}
              {% endfor %}
            </div>
          </div>

        </div>
      </div>

      <!-- SECTION OFFERS -->
      <div class="space--xxl"></div>
      <div class="section__offers text--center">
        <h2 class="title title--lg text--bolder text--upper">Our top {{section.title}} breaks</h2>
        <div class="space--lg"></div>
      </div>


      <div class="row row--lg-6-6 row--xxl-4-4-4 row--gutters-lg">
        {% assign offers = site.data.offers | where:'category', section.id | sort: 'saved' | reverse %}
        {% for offer in offers %}
          <div class="col">
            {% include offer/offer.html %}
          </div>
        {% endfor %}
        <div class="container text--center vpad--lg">
          <a href="{{site.baseurl}}/offers" class="btn btn--orange">View all offers</a>
        </div>
      </div>

    </div>
  </div>
{% endfor %}
</div>



{% include page/promo-competition.html %}

