<!DOCTYPE html>
<html lang="en">

  {% include page/head.html %}

  <body>

    {% include components/tracking.html %}

    {% include page/header.html %}

    {% if page.id == 'overview' %}
      {% include page/overview-banner.html %}
    {% elsif page.layout == 'story' %}
      {% include page/story-banner.html %}
    {% else %}
      {% include page/banner.html %}
    {% endif %}

    <div class="content-spacing section-spacing">
      {{ content }}
    </div>

    {% include page/footer.html %}

    {% include modal/modal.html %}

  </body>

</html>